/* navbar */
.lote {
    padding-left: 3rem;

}

.img__logo {
    border-radius: 10%;
}

.img__logo--redondo {
  border-radius: 50%;
}

/* novedades */
.box-news {
  padding-top: 2rem;
}

.row {
  padding-left: 2.5rem ;
}

.title {
font-size: large;
}

.logo_bt {
  padding-top: 1rem;
  width: 600px
}






.poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }