/* navbar */
.lote {
    padding-left: 3rem;

}

.linea {
margin: 0;
}

.img__logo {
    border-radius: 20%;
}

.img__logo--redondo {
  border-radius: 50%;
}

/* novedades */
.box-news {
  /* padding-top: 2rem; */
  border:0;
  margin: 0;
}

.row {
  padding-left: 2.5rem ;
  width: auto;
}

.col-lg-5{
  width: 60%;
}

.post__d {
  width: 40%;
  /* float: right; */
  display: inline-block;
  text-align:start ;
}

.title {
font-size: 2rem;
margin: 15px 0;
padding-top: 10px ;
}

.logo_bt {
  /* padding-top: 1rem; */
  width: 100%;
  border-radius: 10px;
}

.logo_aside {
  width: 40%;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
  vertical-align: top;
  display: inline-block;
}

.title_aside {
  display: inline-block;
}




.poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }